{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/pixel.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/blackbox.css' %}" type="text/css" />
    <!-- Fontawesome -->
    <link type="text/css" href="{% static 'vendor/@fortawesome/fontawesome-free/css/all.min.css' %}" rel="stylesheet">   
    
    <title>BlackBox Trading</title>
  </head>
  <body>

{% block content %}
{% endblock %}

<!-- Core -->
<script src="{% static '/vendor/@popperjs/core/dist/umd/popper.min.js' %}"></script>
<script src="{% static '/vendor/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static '/vendor/headroom.js/dist/headroom.min.js' %}"></script>

<!-- Vendor JS -->
<script src="{% static '/vendor/onscreen/dist/on-screen.umd.min.js' %}"></script>
<script src="{% static '/vendor/jarallax/dist/jarallax.min.js' %}"></script>
<script src="{% static '/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js' %}"></script>
<script src="{% static '/vendor/vivus/dist/vivus.min.js' %}"></script>
<script src="{% static '/vendor/vanillajs-datepicker/dist/js/datepicker.min.js' %}"></script>

<script async defer src="https://buttons.github.io/buttons.js"></script>

<!-- Pixel JS -->
<script src="{% static '/assets/js/pixel.js' %}"></script>
  </body>
</html>