<main>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 text-center mt-6 mb-2 ">
                <h2 class="display-2 fw-bold">Supported brokers</h2>
                <p class="lead">Open account with our supported brokers and start trading now</p>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-md-6 col-lg-4 text-center">
                <div class="card border-gray-300 mb-4">
                    <div class="card-body py-5"><img src="{% static '/assets/img/interactive-brokers-vector-logo.svg' %}" class="img-fluid image-lg p-2"
                            alt="Airbnb logo">
                            <a href="#" class="btn btn-primary btn-sm my-3">Open Account</a>
                            <div class="card-text">www.interactivebrokers.com</div>
                    </div>
                    
                </div>
            </div>
            <div class="col-md-6 col-lg-4 text-center">
                <div class="card border-gray-300 mb-4">
                    <div class="card-body py-5"><img src="{% static '/assets/img/oanda-vector-logo.svg' %}" class="img-fluid image-lg p-2"
                            alt="Paypal logo">
                            <a href="#" class="btn btn-primary btn-sm my-3">Open Account</a>
                            <div class="card-text">www.oanda.com</div>
                    </div>
                    
                </div>
            </div>
            <div class="col-md-6 col-lg-4 text-center">
                <div class="card border-gray-300 mb-4">
                    <div class="card-body py-5"><img src="{% static '/assets/img/FTX_logo.png' %}" class="img-fluid image-lg p-6"
                            alt="Ebay logo">
                            <a href="#" class="btn btn-primary btn-sm my-3">Open Account</a>
                            <div class="card-text">www.ftx.com</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
            
    
</main>